$primaryColor: #15324A; 
$secondaryColor: #DDAD71;
$accentColor: #3990c3;
$greyColor: #9CA2A3;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;